<div class="topbar">
    <div class="topbar-inner sticky-lg-top sticky-header"  style="padding: 20px;">
        <div class="topbar-left">
            <!-- <div class="topbar-socials">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div> -->
            <!--topbar-socials-->
            <div class="topbar-info">
                <ul>
                    <li>
                        <div class="topbar-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div><!-- topbar-icon -->
                        <div class="topbar-text">
                            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
                        </div><!-- topbar-text -->
                    </li><!-- li -->
                    <li>
                        <div class="topbar-icon">
                            <!-- <i class="fa-solid fa-clock"></i> -->
                        </div><!-- topbar-icon -->
                        <div class="topbar-text">
                            <!-- <span>Open Hours: Mon - Fri 8.00 am - 6.00 pm</span> -->
                        </div><!-- topbar-text -->
                    </li><!-- li -->
                </ul><!-- ul -->
            </div><!--topbar-info-->
        </div><!-- topbar-left -->
        <div class="topbar-right">
            <ul>
                <li><a href="login">LOGIN</a></li>
                <li><a href="register">REGISTER</a></li>
            </ul><!-- ul -->
        </div><!--topbar-right-->
    </div><!-- topbar-inner -->
</div><!--topbar-->

<div id="pre-loader">
    <div id="loader-logo"></div><!-- loader-logo -->
    <div id="loader-circle"></div><!-- loader-circle -->
    <div class="loader-section section-left"></div><!-- loader-section -->
    <div class="loader-section section-right"></div><!-- loader-section -->
</div><!-- pre-loader -->

<div class="page-wrapper">
	<section class="service-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="section-title-box">
						<div class="section-tagline">Government Service</div><!-- section-tagline -->
						<h2 class="section-title text-white">Explore our Online<br> Governmet Services <br> & Resources</h2>
						<div class="section-text">
							<p>Aliquam viverra arcu. Donec aliquet blandit enim feugiat. Suspendisse id quam sed eros tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non.</p>
						</div><!-- section-text -->
						<div class="service-arrow-image">
							<!-- <img src="assets/assets/image/shapes/arrow.png" alt="img-6"> -->
						</div><!-- service-arrow-image -->
					</div><!--section-title-box-->
				</div><!--col-lg-6-->
				<div class="col-lg-5">
                    <div class="section-title-box">
						<div class="section-tagline">Government Service</div><!-- section-tagline -->
						<h2 class="section-title text-white">Explore our Online<br> Governmet Services <br> & Resources</h2>
						<div class="section-text">
							<p>Aliquam viverra arcu. Donec aliquet blandit enim feugiat. Suspendisse id quam sed eros tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non.</p>
						</div><!-- section-text -->
						<div class="service-arrow-image">
							<!-- <img src="assets/assets/image/shapes/arrow.png" alt="img-6"> -->
						</div><!-- service-arrow-image -->
					</div><!--section-title-box-->
				</div><!--col-lg-5-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!--service-section-->
	<section class="funfact-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="funfact-counter-item">
						<div class="funfact-counter-box">
							<div class="funfact-counter-icon">
								<i class="flaticon-running-man"></i>
							</div><!-- funfact-counter-icon -->
							<div class="funfact-counter-number">
								<h3 class="counter-number">84</h3>
								<span class="funfact-counter-number-postfix">k</span>
							</div><!-- funfact-counter-number -->
						</div><!-- funfact-counter-box -->
						<p class="funfact-text">Total People Lived<br>in our City</p>
					</div><!--funfact-counter-item-->
				</div><!--col-xl-3 col-md-6-->
				<div class="col-xl-3 col-md-6">
					<div class="funfact-counter-item">
						<div class="funfact-counter-box">
							<div class="funfact-counter-icon">
								<i class="flaticon-coverage"></i>
							</div><!-- funfact-counter-icon -->
							<div class="funfact-counter-number">
								<h3 class="counter-number">3.3</h3>
								<span class="funfact-counter-number-postfix">k</span>
							</div><!-- funfact-counter-number -->
						</div><!-- funfact-counter-box -->
						<p class="funfact-text">Square kilometres<br> Region Covers</p>
					</div><!--funfact-counter-item-->
				</div><!--col-xl-3 col-md-6-->
				<div class="col-xl-3 col-md-6">
					<div class="funfact-counter-item">
						<div class="funfact-counter-box">
							<div class="funfact-counter-icon">
								<i class="flaticon-landscape"></i>
							</div><!-- funfact-counter-icon -->
							<div class="funfact-counter-number">
								<h3 class="counter-number">26</h3>
								<span class="funfact-counter-number-postfix">%</span>
							</div><!-- funfact-counter-number -->
						</div><!-- funfact-counter-box -->
						<p class="funfact-text">Private & Domestic <br>Garden Land</p>
					</div><!--funfact-counter-item-->
				</div><!--col-xl-3 col-md-6-->
				<div class="col-xl-3 col-md-6">
					<div class="funfact-counter-item">
						<div class="funfact-counter-box">
							<div class="funfact-counter-icon">
								<i class="flaticon-barn-3"></i>
							</div><!-- funfact-counter-icon -->
							<div class="funfact-counter-number">
								<h3 class="counter-number">4</h3>
								<span class="funfact-counter-number-postfix">th</span>
							</div><!-- funfact-counter-number -->
						</div><!-- funfact-counter-box -->
						<p class="funfact-text">Average Costs of Home <br> Ownership</p>
					</div><!--funfact-counter-item-->
				</div><!--col-xl-3 col-md-6-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- /.funfact-section -->
	<section class="mayor-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="mayor-box">
						<div class="section-title-box">
							<div class="section-tagline">MAYOR OF GOWRNX</div><!-- section-tagline -->
							<h2 class="section-title">Major Voice of City Government</h2>
							<p>There cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo massa mollis estiegittis miristum nulla sed medy fringilla vitae.</p>
						</div><!--section-title-box-->
						<div class="mayor-icon-box">
							<div class="mayor-icon">
								<i class="flaticon-professor"></i>
							</div><!-- mayor-icon -->
							<h4 class="mayor-icon-title">Meet Ideological Leader for Youth Generation</h4>
						</div><!--mayor-icon-box-->
						<ul class="list-unstyled list-style-one">
							<li>
								<i class="fa-solid fa-circle-check"></i>
								<p>Making this the first true generator on the Internet</p>
							</li><!-- li -->
							<li>
								<i class="fa-solid fa-circle-check"></i>
								<p>Lorem Ipsum is not simply random text</p>
							</li><!-- li -->
							<li>
								<i class="fa-solid fa-circle-check"></i>
								<p>If you are going to use a passage</p>
							</li><!-- li -->
						</ul><!-- ul -->	
					</div><!--mayor-box-->
				</div><!-- col-lg-6 -->
				<div class="col-lg-6">
					<div class="mayor-img">
						<img src="assets/assets/image/shapes/shape-1.png" class="floated-image-one" alt="img-7">
						<img src="assets/assets/image/gallery/mayor-2.jpg" alt="img-8">
						<div class="mayor-name">
							Mr. Kevin Martin
						</div><!-- mayor-name -->
					</div><!--mayor-img-->
				</div><!--col-lg-6"-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!--mayor-section-->
</div><!--page-wrapper-->

<section class="fooer">
	<div class="footer-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-widget-log">
						<a href="/"><img src="assets/images/logo1.png" class="img-fluid" alt="img-25"></a>
					</div><!-- footer-widget-logo -->
					<div class="footer-widget-text">
						<p>The gowrnx official guide to living, working, visiting and investing in the Texas</p>
					</div><!-- footer-widget-text -->
					<div class="footer-widget-socials">
						<a href="#"><i class="fa-brands fa-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
						<a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
					</div><!-- footer-widget-socials -->
				</div><!--col-lg-4-->
				<div class="col-lg-3">
					<div class="footer-widget">
						<div class="footer-widget-explore">
							<h4 class="footer-widget-title">Explore</h4>
							<ul class="list-unstyled">
								<li><a href="#">Administration</a></li>
								<li><a href="#">Fire Services</a></li>
								<li><a href="#">Business & Taxation</a></li>
								<li><a href="#">Circular’s And Go’s</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul><!-- list-unstyled -->
						</div><!-- footer-widget-explore -->
					</div><!--footer-widget-->
				</div><!--col-lg-3-->
				<div class="col-lg-2">
					<div class="footer-widget">
						<div class="footer-widget-department">
							<h4 class="footer-widget-title">Departments</h4>
							<ul class="list-unstyled">
								<li><a href="#">Health & Safety</a></li>
								<li><a href="#">Housing & Land</a></li>
								<li><a href="#">Legal & Finance</a></li>
								<li><a href="#">Transport & Traffic</a></li>
								<li><a href="#">Arts & Culture</a></li>
							</ul><!-- list-unstyled -->
						</div><!-- footer-widget-department -->
					</div><!--footer-widget-->
				</div><!--col-lg-2-->
				<div class="col-lg-3">
					<div class="footer-widget">
						<div class="footer-widget-contact">
							<h4 class="footer-widget-title">Contact</h4>
							<!-- <p>88 Broklyn Golden Road Street,<br>New York. USA</p> -->
						</div><!-- footer-widget-contact -->
						<div class="footer-widget-contact-list">
							<i class="fa-solid fa-envelope"></i>
							<div class="footer-widget-contact-item">
								<a href="mailto:needhelp@company.com" style="color: dimgrey;">needhelp@company.com</a>
							</div><!-- footer-widget-contact-item -->
						</div><!-- footer-widget-contact-list -->
						<div class="footer-widget-contact-list">
							<i class="fa-solid fa-phone"></i>
							<div class="footer-widget-contact-item">
								<a href="tel:+238-806-301-4314"  style="color: dimgrey;">+234 (803) 68-090</a>
							</div><!-- footer-widget-contact-item -->
						</div><!-- footer-widget-contact-list -->
					</div><!--footer-widget-->
				</div><!--col-lg-3-->
			</div><!-- row -->
		</div><!-- container -->
	</div><!--footer-inner-->
	<div class="bottom-footer">
		<div class="conatiner">
			<p>© Copyright LGA </p>
		</div><!-- container -->
	</div><!--bottom-footer-->
</section><!--footer-->
<a href="#" class="scroll-to-top scroll-to-target" data-target="html"><i class="fa-solid fa-arrow-up"></i></a>