<ng-container [formGroup]="form">
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Groom Signature</label>
                <input type="file"
                class="form-control form-txt-danger"
                formControlName="marriageDate"
                (change)="uploadProfile($event)">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Signature</label>
                <input type="file"
                class="form-control form-txt-success"
                formControlName="weddingDate">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Witness Signature</label>
                <input type="file"
                class="form-control form-txt-success"
                placeholder="Name of hospital"
                formControlName="church">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Groom Witness Signature</label>
                <input type="file"
                class="form-control form-txt-success"
                placeholder="Name of hospital"
                formControlName="church">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Presiding Officer Signature</label>
                <input type="file"
                class="form-control form-txt-success"
                placeholder="Name of hospital"
                formControlName="church">
            </div>
        </div>
    </div>
    <h4 class="sub-title">Bride Witness</h4>
</ng-container>