<ng-container [formGroup]="form">
    <h4 class="sub-title">Bride Information</h4>
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4 has-danger">
                <label for="first_name">Bride First Name</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Bride First Name"
                formControlName="brideFirstName">
                <!-- <div class="col-form-label">Success! You've done it.</div> -->
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Last Name</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Bride Last Name"
                formControlName="brideLastName">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Middle Name</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Bride Middle Name"
                formControlName="brideMiddleName">
            </div>
        </div>
    </div>
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Bride Address</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Bride Address"
                formControlName="brideAddress">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Landmark</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Landmark"
                formControlName="brideLandmark">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Nearest Busstop</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Nearest Busstop"
                formControlName="bridebusstop">
            </div>
        </div>
    </div>
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Bride Occupation</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Bride Occupation"
                formControlName="brideOccupation">
            </div>
        </div>
    </div>
    <h4 class="sub-title"></h4>
</ng-container>
