<ul class="list-group mb-3 tp-setting">
    <li class="list-group-item">
        Anyone seeing my profile page
        <div class="float-right">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label">&nbsp;</span>
            </label>
        </div>
    </li>
    <li class="list-group-item">
        Anyone send me a message
        <div class="float-right">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label">&nbsp;</span>
            </label>
        </div>
    </li>
    <li class="list-group-item">
        Anyone posts a comment on my post
        <div class="float-right">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label">&nbsp;</span>
            </label>
        </div>
    </li>
    <li class="list-group-item">
        Anyone invite me to group
        <div class="float-right">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked="">
                <span class="custom-control-label">&nbsp;</span>
            </label>
        </div>
    </li>
</ul>
<div class="table-responsive">
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th>Module Permission</th>
                <th>Read</th>
                <th>Write</th>
                <th>Create</th>
                <th>Delete</th>
                <th>Import</th>
                <th>Export</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Employee</td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Holidays</td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Leave Request</td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Events</td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>