   <!-- Pre-loader start -->
   <div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <app-main-top-menu></app-main-top-menu>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <app-side-nav></app-side-nav>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">

                                <!-- Page-header start -->
                                <div class="page-header card">
                                    <div class="card-block">
                                        <h5 class="m-b-10">My Birth Certificate Application</h5>
                                        <ul class="breadcrumb-title b-t-default p-t-10">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/user/dashboard">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="/user/birth-certificate">Birth-Certificate</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                            </div>
                        </div>
                    </div>
                </div>
                                                
            </div>
        </div>
    </div>
