<ng-container [formGroup]="form">
    <div formGroupName="basicDetails">
        <div class="input email">
            <label for="LoginEmail">First Name</label>
            <input name="email" class="form-control" formControlName="firstName" required="required" type="email" id="LoginEmail"/>
        </div>
    <div class="input password">
            <label for="LoginPassword">Last Name</label>
            <input name="password" class="form-control" formControlName="lastName" required="required" type="password" id="LoginPassword"/>
        </div>
        <div class="input password">
            <label for="LoginPassword">Middle Name</label>
            <input name="cpassword" class="form-control" formControlName="otherNames" required="required" type="password" id="LoginPassword"/>
        </div>
        <div class="input password">
            <label for="LoginPassword">Phone Number</label>
            <input name="cpassword" class="form-control" formControlName="phoneNumber" required="required" type="password" id="LoginPassword"/>
        </div>
    </div>
</ng-container>