<ng-container [formGroup]="form">
    <div formGroupName="basicDetails">
        <div class="input email">
            <label for="">First Name</label>
            <input name="" class="form-control" formControlName="firstName" required="required" type="text" id=""/>
        </div>
    <div class="input password">
            <label for="">Last Name</label>
            <input name="" class="form-control" formControlName="lastName" required="required" type="text" id=""/>
        </div>
        <div class="input password">
            <label for="">Middle Name</label>
            <input name="" class="form-control" formControlName="otherNames" required="required" type="text" id=""/>
        </div>
        <div class="input password">
            <label for="">Phone Number</label>
            <input name="" class="form-control" formControlName="phoneNumber" required="required" type="text" id=""/>
        </div>
    </div>
</ng-container>