<ng-container [formGroup]="form">
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4 has-danger">
                <label for="first_name">Groom First Name</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Groom First Name"
                formControlName="groomFirstName">
                <!-- <div class="col-form-label">Success! You've done it.</div> -->
            </div>
            <div class="col-sm-4">
                <label for="first_name">Groom Last Name</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Groom Last Name"
                formControlName="groomLastName">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Groom Middle Name</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Groom Middle Name"
                formControlName="groomMiddleName">
            </div>
        </div>
    </div>

    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Groom Address</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Groom Address"
                formControlName="groomAddress">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Landmark</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Landmark"
                formControlName="groomLandmark">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Nearest Busstop</label>
                <input type="text"
                class="form-control form-txt-success"
                placeholder="Nearest Busstop"
                formControlName="groombusstop">
            </div>
        </div>
    </div>
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Groom Occupation</label>
                <input type="text"
                class="form-control form-txt-danger"
                placeholder="Groom Occupation"
                formControlName="groomOccupation">
            </div>
        </div>
    </div>
</ng-container>