   <!-- Pre-loader start -->
   <div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <app-main-top-menu></app-main-top-menu>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <app-side-nav></app-side-nav>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <h3>Admin Dashboard</h3>

                                <div class="page-body">
                                  <div class="row">

                                        <!-- order-card start -->
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card bg-c-blue order-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-20">Total Applications</h6>
                                                    <h2 class="text-right"><span>486</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card bg-c-green order-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-20">Approved Applications</h6>
                                                    <h2 class="text-right"><span>1641</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card bg-c-yellow order-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-20">Pending Applications</h6>
                                                    <h2 class="text-right"><span>42</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card bg-c-pink order-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-20">Queried Applications</h6>
                                                    <h2 class="text-right"><span>52</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
