<ng-container [formGroup]="form">                                           
<h4 class="sub-title">Bride Parents</h4>
    <div class="col-sm-12 mobile-inputs">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="first_name">Bride Parent Firstname</label>
                <input type="text"
                class="form-control form-txt-danger"
                formControlName="marriageDate">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Parent Lastname</label>
                <input type="text"
                class="form-control form-txt-success"
                formControlName="weddingDate">
            </div>
            <div class="col-sm-4">
                <label for="first_name">Bride Parent Occupation</label>
                <input type="text"
                class="form-control form-txt-success"
                formControlName="church">
            </div>
        </div>
    </div>
    <h4 class="sub-title"></h4>
</ng-container>  
